body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.main-navigation {
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.site-navigation a {
  color: #000000;
}
.site-navigation a:hover {
  color: #9fc4dc;
}
.site-navigation a:active {
  color: #d4d4d4;
}
.site-navigation-item a.active {
  color: #a0938b;
}
.site-navigation-item {
  flex-basis: 25%;
}
.site-navigation-item:nth-child(1) {
  text-align: left;
  margin-left: 72px;
}
.site-navigation-item:nth-child(2) {
  text-align: left;
  margin-right:43px;
}
.site-navigation-item:nth-child(3) {
  text-align: right;
  margin-left:43px;
}
.site-navigation-item:nth-child(4) {
  text-align: right;
  margin-right: 72px;
}
.town-title {
  display: block;
  background-color: white;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 59px;
}
.town-title b {
  display: block;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.town-title span {
  display: block;
  line-height: 26px;

}
.mountains {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
.reasons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}
.test {
  display: flex;
}
.test {
  display: flex;
}
.town-reasons-list {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
  min-height: 330px;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.town-reasons-item {
  width: 400px;
  text-align: center;
  margin-top: 165px;
  box-sizing: border-box;
}
.reasons-item-img {
  flex: 1 0 100%;
  background-color: #81b3d2;
  color: #ffffff;
  box-sizing: border-box;
}
.reasons-item {
  flex: 0 1 33%;
  box-sizing: border-box;
  padding-top: 50px; 
  padding-bottom: 64px;
  }
.reasons-item  h3 {
  display: block;
  margin: 0px;
  padding: 0px;
  margin-bottom:30px; 
}
.reasons-item  p {
  display: block;
  margin: 0px;
  padding: 0px;
}
.reasons-item  span {
  display: block;
  margin: 0px;
  padding: 0px;
  margin-bottom:30px;
}
.reasons-list h3 {
  font-size: 21px;
}
.hotels-search-title {
  display: block;
  text-align: center;
  background-color: white;
  padding-top: 58px;
  padding-bottom: 140px;
}
.hotels-search-title b {
  display: block;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 38px;
}
.hotels-search-title p {
  display: block;
  line-height: 24px;
}
.button-form {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}
.button-form:hover {
  background-color: #604e43;
}
.button-form:active {
  color:#928a85;
  background-color: #503e33;
}
.booking p {
  line-height: 26px;
  font-weight: 700;
}
.checkin-date input {
  color:#000000;
  background-color: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
}
.checkin-date input:hover {
  background-color: #ebebeb;
}
.checkin-date input:focus {
  background-color: #ffffff;
}
.checkout-date input {
  color:#000000;
  background-color: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
}
.checkout-date input:hover {
  background-color: #ebebeb;
}
.checkout-date input:focus {
  background-color: #ffffff;
}
.booking-adults input {
  color:#000000;
  background-color: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
}
.booking-kids input {
  color:#000000;
  background-color: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
}
.booking-button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.booking-button:hover {
  background-color: #669ec0;
}
.booking-button:active {
  color:#94b9d2;
  background-color: #5496bd;
}
.main-footer {
  display: flex;
  justify-content: space-around;
  flex-basis: 33%;
  align-items: center;
  min-height: 120px;
  background-color: white;
}
.main-footer b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.footer-sosial ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.sosial-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.sosial-button:hover {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd
}
.social-button:active path {
  fill: #88b6d1
}
.footer-copyright p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-copyright {
  text-align: center;
}
.benefits {
  color: #ffffff;
  background-color: #83b1d1;
}
.benefits legend {
  font-size:16px;
  font-weight: 700;
}
.button-filter {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
.button-filter:hover {
  color: #000000;
  background-color: #ffffff;
}
.sorting b {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}
.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  color:#000000;
}
.sorting-list {
  list-style: none;
}
.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: #d4d4d4;
}
.sorting-list a:hover {
  color: #9fc4dc;
}
.sorting-list a:active {
  color: #000000;
}
.sorting-list a:link {
  color: #9fc4dc;
}
.sorting-arrow {
  list-style: none;
}
.sorting-arrow a {
  color: #d4d4d4;
}
.sorting-arrow a:active {
  color: #9fc4dc;
}
.hotels-booking-list {
  list-style: none;
}
.hotels-booking h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}
.rating {
  background-color: #f2f2f2
}
.more-info {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  text-transform: uppercase;
}
.more-info:hover {
  background-color: #669ec0;
}
.more-info:active {
  color: #8bb4cf;
  background-color: #5496bd;
}
.reservation {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #766357;
  font-weight: 700;
  text-transform: uppercase;
}
.reservation:hover {
  background-color: #604e43;
}
.reservation:active {
  color: #8bb4cf;
  background-color: #503e33;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
