html {
box-sizing: border-box;
}
*, *::after, *::before {
box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
main {
  background-color: #ffffff;
}
.main-navigation {
  position: relative;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}
.site-navigation a {
  color: #000000;
}
.site-navigation a:hover {
  color: #9fc4dc;
}
.site-navigation a:active {
  color: #d4d4d4;
}
.site-navigation-item a.active {
  color: #a0938b;
}
.site-navigation-item {
  flex-basis: 25%;
}
.site-navigation-item:nth-child(1) {
  text-align: left;
  margin-left: 72px;
}
.site-navigation-item:nth-child(2) {
  text-align: left;
  margin-right:43px;
}
.site-navigation-item:nth-child(3) {
  text-align: right;
  margin-left:43px;
}
.site-navigation-item:nth-child(4) {
  text-align: right;
  margin-right: 72px;
}
.town-title {
  display: block;
  background-color: white;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 50px;
}
.town-title b {
  display: block;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.town-title span {
  display: block;
  line-height: 26px;

}
.index-image-container {
  position: relative;
  display: block;
  object-fit: cover;
}
.index-image-container::after {
  content: "";
  left:0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  height: 55px;
  background: url("../img/lines.png") center no-repeat;
}

.mountains {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 1, 0, 0.2);
}
.reasons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
}
.town-container {
  display: flex;
}
.town-container-info {
  flex:0 0 400px;
  padding: 50px 60px;
}
.town-container img {
  flex:0 0 800px;
}
.bridge-container {
  display: flex;
}
.bridge-container-info {
  flex:0 0 400px;
  padding: 50px 50px;
}
.bridge-container img {
  flex:0 0 800px;
}
.town-reasons-list {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
  min-height: 330px;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.town-reasons-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 55px;
  width: 400px;
}

.town-reasons-item--housing::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background: url("../img/icon-1.svg") no-repeat;
  margin: 0 auto;
  margin-bottom: 20px;
}
.town-reasons-item--food::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background: url("../img/icon-3.svg") no-repeat;
  margin: 0 auto;
  margin-bottom: 20px;
}
.town-reasons-item--souvenir::before {
  content: "";
  display: block;
  width: 65px;
  height: 72px;
  background: url("../img/icon-2.svg") no-repeat;
  margin: 0 auto;
  margin-bottom: 20px;
}
.reasons-item-img {
  flex: 1 0 100%;
  background-color: #81b3d2;
  color: #ffffff;
  box-sizing: border-box;
}
.reasons-item {
  flex: 0 0 400px;
  box-sizing: border-box;
  padding: 55px 60px;
  background-color: #eeeeee;
  }
.reasons-item  h3 {
  display: block;
  margin: 0px;
  padding: 0px;

  margin-bottom:30px;
}
.reasons-item  p {
  display: block;
  margin: 0px;
  padding: 0px;
}
.reasons-item  span {
  display: block;
  margin: 0px;
  padding: 0px;
  margin-bottom:30px;
}
.reasons-list h3 {
  font-size: 21px;
  margin: 0px;
  margin-bottom: 25px;
}
.reasons-list p {
  margin: 0px;
}
.reasons-list span {
  display: block;
  margin-bottom: 20px;
}
.interested {
  display: block;
  margin-top: 55px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}
.interested-title {
  display: block;
  text-align: center;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 45px;
}
.form-plus-button {
  width: 568px;
  margin: 0 auto;
  position: relative;
}
.button-form {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  margin: 0 auto;
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}
.button-form:hover {
  background-color: #604e43;
}
.button-form:active {
  color:#928a85;
  background-color: #503e33;
}
.booking {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  left: 0px;
  background-color: white;
  position: absolute;
  justify-content: space-between;
  padding: 55px;
}
.booking p {
  line-height: 26px;
  font-weight: 700;
}
.checkin-date {
  display: flex;
  margin: 0px;
  margin-bottom: 30px;
  flex: 0 0 100%;
  align-items: center;
}
.checkin-date input {
  color:#000000;
  background-color: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px;
  flex: 1 0 100px;
  margin-left: 20px;
  border: 0px;
}
.checkin-date input:hover {
  background-color: #ebebeb;
}
.checkin-date input:focus {
  background-color: #ffffff;
}
.checkout-date {
  display: flex;
  margin: 0px;
  margin-bottom: 30px;
  flex: 0 0 100%;
  align-items: center;
}
.checkout-date input {
  color:#000000;
  background-color: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px;
  flex: 1 0 100px;
  margin-left: 20px;
  border: 0px;
}
.checkout-date input:hover {
  background-color: #ebebeb;
}
.checkout-date input:focus {
  background-color: #ffffff;
}
.booking-calendar {
  width: 38px;
  height: 38px;
  border: 0px;
  background-color: #f2f2f2;
  margin: 0px;
  padding: 0px;
}
.booking-calendar path {
  fill: #a9a9a9;
}
.booking-calendar:hover path {
  fill: #000000;
}
.booking-calendar:active path {
  fill: #8fbbd7;
}
.booking-adults {
  display: flex;
  margin: 0px;
  margin-bottom: 55px;
  align-items: center;
}
.booking-adults input {
  color:#000000;
  background-color: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
  width: 40px;
  padding: 11px;
  border: 0px;
}
.booking-kids {
  display: flex;
  margin: 0px;
  margin-bottom: 55px;
  align-items: center;
}
.booking-kids input {
  color:#000000;
  background-color: #f2f2f2;
  font-weight: 700;
  text-transform: uppercase;
  width: 40px;
  padding: 11px;
  border: 0px;
}
.adults-minus-button:hover svg line {
  stroke: #000000;
}
.adults-minus-button:active svg line {
  stroke: #8fbbd7;
}
.adults-plus-button:hover svg line {
  stroke: #000000;
}
.adults-plus-button:active svg line {
  stroke: #8fbbd7;
}
.kids-minus-button:hover svg line {
  stroke: #000000;
}
.kids-minus-button:active svg line {
  stroke: #8fbbd7;
}
.kids-plus-button:hover svg line {
  stroke: #000000;
}
.kids-plus-button:active svg line {
  stroke: #8fbbd7;
}
.booking-button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  flex: 1 0 100%;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.booking-button:hover {
  background-color: #669ec0;
}
.booking-button:active {
  color:#94b9d2;
  background-color: #5496bd;
}
.kids-minus-button {
  margin: 0px;
  padding: 0px;
  width: 38px;
  height: 38px;
  border: 0px;
  background-color: #f2f2f2;
  margin-left: 25px;
}
.kids-plus-button {
  margin: 0px;
  padding: 0px;
  width: 38px;
  height: 38px;
  border: 0px;
  background-color: #f2f2f2;
}
.adults-minus-button {
  margin: 0px;
  padding: 0px;
  width: 38px;
  height: 38px;
  border: 0px;
  background-color: #f2f2f2;
  margin-left: 40px;
}
.adults-plus-button {
  margin: 0px;
  padding: 0px;
  width: 38px;
  height: 38px;
  border: 0px;
  background-color: #f2f2f2;
}
.main-footer {
  display: flex;
  justify-content: space-around;
  flex-basis: 33%;
  align-items: center;
  min-height: 120px;
  background-color: #ffffff;
}
.main-footer-logo:hover path {
  fill:#81b3d2;
}
.main-footer-logo:active path {
  fill:#bdbbbc;
}
.main-footer b {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.footer-sosial ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.sosial-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.sosial-button:hover {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd
}
.social-button:active path {
  fill: #88b6d1
}

.footer-copyright p {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}
.footer-copyright {
  text-align: center;
}
.footer-copyright span {
  padding-right: 10px;
}
.benefits {

  color: #ffffff;
  background-color: #83b1d1;

}
.sorting-form-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 27px 70px 5px 70px;
  background-image: url("../img/filter-background.jpg");

}
.filter-range {
  width: 330px;
  margin-left: auto;


  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  padding-left: 75px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
.benefits-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: left;

  margin: 0px;
  padding: 0px;
}
.benefits legend {
  font-size:16px;
  line-height: 26px;
  font-weight: 700;
  margin:0px;
  padding: 0px;
}

.infrastructure {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
.infrastructure-block {
  flex: 0 0 256px;

}
.infrastructure legend {
  margin-bottom: 22px;
}
.benefits-item {
  margin-bottom: 25px;
  padding-left: 40px;
}
.benefits-item label {

  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}
.type-of-accommodation-item label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left:-35px;
  width: 25px;
  height: 25px;
  background: url("../img/checkbox-off.svg") no-repeat;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  top: 0px;
  left:-35px;
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../img/checkbox-on.svg") no-repeat;
}
.type-housing {
  border: 0px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.type-housing-block {
 flex: 0 0 256px;
}

.type-of-accommodation-list {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0px;
  padding: 0px;
}
.type-of-accommodation-item {
  margin-bottom: 25px;
  padding-left: 40px;
}
.type-housing legend {
  margin-bottom: 22px;
}
.day-price {
  border: 0px;
  margin: 0px;
  padding: 0px;

}
.button-filter {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}
.button-filter:hover {
  color: #000000;
  background-color: #ffffff;
}
.sorting {
  display: flex;
  padding: 20px 72px;
  align-items: center;
}
.sorting b {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  flex: 0 0 160px;
  padding-right: 20px;
}
.sorting h3 {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  color:#000000;
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
}
.sorting-list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  flex: 0 0 275px;
  justify-content: space-around;
}
.sorting-list a {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  color: #d4d4d4;
}
.sorting-list a:hover {
  color: #9fc4dc;
}
.sorting-list a:active {
  color: #000000;
}
.sorting-list a {
  color: #cacaca;
}
.sorting-arrows {
  list-style: none;
  display: flex;
}
.sorting-arrows a {
  color: #d4d4d4;
}
.sorting-arrows a:active {
  color: #9fc4dc;
}
.arrow-up path:hover {
  fill: #9fc4dc;
}
.arrow-up path {
  fill: #d4d4d4;
}
.arrow-down path {
  fill: #d4d4d4;
}
.arrow-down path:hover {
  fill: #9fc4dc;
}
.arrows {
  margin-left: auto;
}
.arrow-up {
  margin-right: 10px;
}
/*отели*/
.hotels-container {
  padding: 22px 72px 0px 72px;

}
.hotels-booking-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px;
  padding: 0px;

}

.hotels-booking h3 {
   font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 9px;

}
.rating {
  background-color: #f2f2f2;
  display: block;
  width: 110px;
  text-align: center;
  padding: 3px;
}
.more-info {
  display: inline-block;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  text-transform: uppercase;
  width: 110px;
  text-align: center;


}
.more-info:hover {
  background-color: #669ec0;
}
.more-info:active {
  color: #8bb4cf;
  background-color: #5496bd;
}
.reservation {
  display: inline-block;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  background-color: #766357;
  font-weight: 700;
  text-transform: uppercase;
  width: 140px;
  text-align: center;

}
.reservation:hover {
  background-color: #604e43;
}
.reservation:active {
  color: #8bb4cf;
  background-color: #503e33;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hotels-picture {
  width:135px;
  margin-right: 30px;
}
.hotels-picture  p {
  margin: 0px;
  padding: 0px;
}
.hotels-info {
  flex: 1 0 100px;
  padding-right: 40px;

}
.hotels-rating {
  margin-left:auto;
  width: 110px;
}
.hotels-booking-item {
  display: flex;
  margin-bottom: 52px;
}
.hotels-discription {
  display: flex;
  width: 258px;
}
.hotels-booking-item:last-child {
  margin-bottom: 28px;
}
.hotels-discription p {
  flex: 0 0 110px;
  margin: 0px;
  padding: 0px;
  max-width: 50%;
  margin-bottom: 17px;
}
.hotels-discription span {
 margin-left: 8px;
}
.hotels-info-link a {
  color:#000000
}
.hotels-info-link a:hover {
  color:#81b3d2
}
.hotels-info-link a:active {
  color:#e2e2e2
}
.stars {
  background-image: url("../img/star.svg");
  height: 18px;
  margin-bottom: 50px;
}
.stars.stars-4 {
  width: 73px;
}
.stars.stars-3 {
  width: 53px;
}
.stars.stars-2 {
  width: 38px;
}
